<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hbc.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".controllers.NeedBloodShowActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.BloodProcessActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.DonateActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.DonateBloodListActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.NeedBloodEditActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.NeedBloodListActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ShowActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.DonateBloodShowActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.DonateBloodEditActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.BankAccountActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.ValidateActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.MemberActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.NeedBloodActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>